lab2/.venv/
lab2/lab_python_oop/__pycache__/
lab2/__pycache__/
lab2/.vscode/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
# rust
target/
Cargo.lock
# C extensions
*.so
